* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    /*this is flexbox*/
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: black;
}

.navbar {
    display: flex;
}

.navbar a {
    color: black;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navbar a:hover {
    border-bottom: 2px solid black;
}

#menu-icon {
    color: black;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}







.outer-box {
    width: 50%;
    margin: auto;
    font-family: Helvetica, Arial, sans-serif;

}

.inner-box {
    padding: 10px;
    background-color: #EEE;
    margin: 20px;
    font-size: 18px;

}

.large-para {
    text-align: center;
    font-size: 24px
}

.normal-para {
    font-size: 18px;
    text-align: right;
    padding-top: 5%;
}