* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    /*this is flexbox*/
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: black;
}

.navbar {
    display: flex;
}

.navbar a {
    color: black;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navbar a:hover {
    border-bottom: 2px solid black;
}

#menu-icon {
    color: black;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.content {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #FFFFff 0%, #f5ed00 28.53%, #666600 75.52%);
    position: relative;
    display: grid;
    /* this is grid layout */
    align-items: center;
    padding: 7% 15%;
}

.outer-box h2 {
    font-size: 30px;
    font-weight: 600;
    color: black;
    margin-bottom: 40px;
    text-align: center;
}

.outer-box h3 {
    font-size: 24px;
    font-weight: 600;
    color: black;
    margin: 10px;
}

.outer-box h4 {
    font-size: 14px;
    font-weight: 200;
    color: black;
    margin-left: 1%;
}

.word-of-day {
    line-height: 1.9;
    display: inline-block;
    color: white;
    background-color: black;
    padding: 12px 30px;
    border-radius: 30px;
    margin-bottom: 30px;
}

.word-of-day p {
    font-size: 24px;
    text-transform: uppercase;
}

.definitions {
    line-height: 1.9;
    display: inline-block;
    color: white;
    background-color: black;
    padding: 12px 30px;
    border-radius: 30px;
    margin-bottom: 30px;
}

.definitions p {
    font-size: 18px;
}

.phrases {
    line-height: 1.9;
    display: inline-block;
    color: white;
    background-color: black;
    margin-bottom: 20px;
    padding: 12px 30px;
    border-radius: 30px;
}

.phrases p {
    font-size: 16px;
}

.phrases .title {
    font-style: italic;
    font-size: 13px;
    padding-top: 2%;

}