{% extends 'base.html' %}

{% block title %} Hive {% endblock %}

{% block content %}

<section class="p-5">
    <div class="container">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Magical Bee</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{hive}}</textarea>
        </div>
    </div>
    <div class="text-center pt-2 ">
        <form method="post">
            <input type="Submit" value="Generate">
        </form>
    </div>
</section>

<script src="static/js/main.js"></script>
{% endblock %}