{% extends 'base.html' %}
{%block title%} Home {% endblock %}
{% block content %}

<div class="outer-box">
    <h2>Word of the day</h2>
    <h4> Published Date: {{ publishedhtml }} </h4>
    <div class="word-of-day">
        <p>{{ wordhtml }}</p>
    </div>
    <h3>Definition</h3>
    {% for text in texthtml %}
    <div class="definitions">
        <p>{{ text }}</p>
    </div>
    {% endfor %}
    <h3>Interesting Phrases</h3>
    {% for example in examplehtml %}
    <div class="phrases">
        <p>{{ example["text"] }}</p>
        <p class="title">{{ example ["title"] }} </p>
    </div>
    {% endfor %}
</div>

{% endblock %}