{% extends 'base.html' %}

{% block content %}
<h1>{%block title%} Home {% endblock %}</h1>
<div style="width: 50%; margin: auto">
    <h2>Word of the day:</h2>
    <p style="text-align: right"> {{ publishedhtml }} </p>
    <div style="padding: 10px; background-color: #EEE; margin: 20px">
        <p style="text-align: center;font-size: 24px">{{ wordhtml }}</p>
    </div>
    <h3>Definition</h3>
    {% for text in texthtml %}
    <div style="padding: 10px; background-color: #EEE; margin: 20px">
        <p style="font-size: 18px">{{ text }}</p>
    </div>
    {% endfor %}
    <h3>Interesting Phrases</h3>
    {% for example in examplehtml %}
    <div style="padding: 10px; background-color: #EEE; margin: 20px">
        <p style="font-size: 18px">{{ example["text"] }}</p>
        <p style="text-align: right; font-size: 40px"> {{example ["title"]}} </p>
    </div>
    {% endfor %}
</div>

{% endblock %}